Repository leg100/otf: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-vet, make-fmt, make-lint, make-tailwind

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-json
    -   id: check-yaml
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: '.tfstate|run|testdata'
-   repo: local
    hooks:
    -   id: make-vet
        name: make vet
        entry: make vet
        types: [go]
        language: "golang"
        require_serial: true
        pass_filenames: false
        description: "Runs `make vet`"
    -   id: make-fmt
        name: make fmt
        entry: make fmt
        types: [go]
        language: "golang"
        require_serial: true
        pass_filenames: false
        description: "Runs `make fmt`"
    -   id: make-lint
        name: make lint
        entry: make lint
        language: "golang"
        types: [go]
        require_serial: true
        pass_filenames: false
        description: "Runs `make lint`"
    -   id: make-tailwind
        name: make tailwind
        entry: make tailwind
        language: "script"
        types: [css]
        require_serial: true
        pass_filenames: false
        description: "Runs `make tailwind`"

wip
  .pre-commit-config.yaml
Due: none

wip
  docs/dev.md
Due: none

refactor(ui): add colors to lock and tags
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/integration/tag_e2e_test.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  internal/http/html/static/css/output.css
Due: make-tailwind

wip
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/workspace_get.tmpl
Due: make-tailwind

wip
  internal/http/html/static/images/cross_thin.svg
  internal/http/html/static/templates/partials/svg_icons.tmpl
Due: none

refactor(ui): add magnifying glass back
  internal/http/html/static/css/input.css
  internal/http/html/static/css/output.css
  internal/http/html/static/images/magnifying_glass.svg
  internal/http/html/static/templates/content/workspace_list.tmpl
Due: make-tailwind

wip
  internal/http/html/static/css/input.css
  internal/http/html/static/css/output.css
  internal/http/html/static/js/search_dropdown.js
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/workspace/tags_web.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  internal/http/html/static/css/input.css
  internal/http/html/static/css/output.css
  internal/http/html/static/js/search_dropdown.js
  internal/http/html/static/templates/content/agent_token_list.tmpl
  internal/http/html/static/templates/content/agent_token_new.tmpl
  internal/http/html/static/templates/content/consent.tmpl
  internal/http/html/static/templates/content/module_list.tmpl
  internal/http/html/static/templates/content/module_new.tmpl
  internal/http/html/static/templates/content/organization_edit.tmpl
  internal/http/html/static/templates/content/organization_list.tmpl
  internal/http/html/static/templates/content/organization_new.tmpl
  internal/http/html/static/templates/content/profile.tmpl
  internal/http/html/static/templates/content/site_admin_login.tmpl
  internal/http/html/static/templates/content/team_get.tmpl
  internal/http/html/static/templates/content/team_list.tmpl
  internal/http/html/static/templates/content/team_new.tmpl
  internal/http/html/static/templates/content/token_new.tmpl
  internal/http/html/static/templates/content/user_token_list.tmpl
  internal/http/html/static/templates/content/variable_list.tmpl
  internal/http/html/static/templates/content/vcs_provider_list.tmpl
  internal/http/html/static/templates/content/workspace_edit.tmpl
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/http/html/static/templates/content/workspace_list.tmpl
  internal/http/html/static/templates/content/workspace_new.tmpl
  internal/http/html/static/templates/content/workspace_vcs_repo_list.tmpl
  internal/http/html/static/templates/partials/create_vcs_provider_form.tmpl
  internal/http/html/static/templates/partials/run_actions.tmpl
  internal/http/html/static/templates/partials/run_item.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/http/html/static/templates/partials/variable_form.tmpl
Due: make-tailwind

wip
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/integration/tag_e2e_test.go
Due: make-vet, make-fmt, make-lint

wip
  internal/http/html/static/js/search_dropdown.js
Due: none

wip
  internal/http/html/static/templates/content/workspace_list.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
Due: none

feat(ui): tag search/dropdown menu (#523)
  internal/http/html/static/css/input.css
  internal/http/html/static/css/output.css
  internal/http/html/static/images/cross_thin.svg
  internal/http/html/static/js/search_dropdown.js
  internal/http/html/static/templates/content/agent_token_list.tmpl
  internal/http/html/static/templates/content/agent_token_new.tmpl
  internal/http/html/static/templates/content/consent.tmpl
  internal/http/html/static/templates/content/module_list.tmpl
  internal/http/html/static/templates/content/module_new.tmpl
  internal/http/html/static/templates/content/organization_edit.tmpl
  internal/http/html/static/templates/content/organization_list.tmpl
  internal/http/html/static/templates/content/organization_new.tmpl
  internal/http/html/static/templates/content/profile.tmpl
  internal/http/html/static/templates/content/site_admin_login.tmpl
  internal/http/html/static/templates/content/team_get.tmpl
  internal/http/html/static/templates/content/team_list.tmpl
  internal/http/html/static/templates/content/team_new.tmpl
  internal/http/html/static/templates/content/token_new.tmpl
  internal/http/html/static/templates/content/user_token_list.tmpl
  internal/http/html/static/templates/content/variable_list.tmpl
  internal/http/html/static/templates/content/vcs_provider_list.tmpl
  internal/http/html/static/templates/content/workspace_edit.tmpl
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/http/html/static/templates/content/workspace_list.tmpl
  internal/http/html/static/templates/content/workspace_new.tmpl
  internal/http/html/static/templates/content/workspace_vcs_repo_list.tmpl
  internal/http/html/static/templates/partials/create_vcs_provider_form.tmpl
  internal/http/html/static/templates/partials/run_actions.tmpl
  internal/http/html/static/templates/partials/run_item.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/http/html/static/templates/partials/variable_form.tmpl
  internal/integration/tag_e2e_test.go
  internal/workspace/tags_web.go
  internal/workspace/web.go
Due: make-vet, make-fmt, make-lint, make-tailwind

refactor: restrict tag mgmt to authorized personnel
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/workspace/web.go
Due: make-vet, make-fmt, make-lint

fix: run tailwind css on template changes
  .pre-commit-config.yaml
Due: none

refactor(ui): correct language on workspace settings
  internal/http/html/static/templates/content/workspace_edit.tmpl
Due: none

wip
  internal/auth/team_web.go
  internal/http/html/html.go
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/team_get.tmpl
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/workspace/web.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  internal/auth/team_web.go
  internal/auth/user_service.go
  internal/http/html/html.go
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/workspace/web.go
Due: make-vet, make-fmt, make-lint

wip
  docs/rbac.md
  internal/auth/team_web.go
  internal/auth/user.go
  internal/http/html/static/templates/content/team_get.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/integration/tag_e2e_test.go
  internal/integration/team_ui_test.go
  internal/integration/user_test.go
  internal/rbac/role.go
Due: make-vet, make-fmt, make-lint

feat!: adding team member creates user if they don't exist (#525)
  docs/rbac.md
  internal/auth/team_web.go
  internal/auth/user.go
  internal/auth/user_service.go
  internal/http/html/html.go
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/team_get.tmpl
  internal/http/html/static/templates/content/workspace_get.tmpl
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/integration/tag_e2e_test.go
  internal/integration/team_ui_test.go
  internal/integration/user_test.go
  internal/rbac/role.go
  internal/workspace/web.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  internal/api/api.go
  internal/api/organization.go
  internal/auth/service.go
  internal/auth/team_service.go
  internal/authenticator/authenticator.go
  internal/cli/organization.go
  internal/cli/test_helpers.go
  internal/client/client.go
  internal/daemon/daemon.go
  internal/hooks/hooks.go
  internal/integration/daemon_helpers_test.go
  internal/integration/db_test.go
  internal/integration/organization_test.go
  internal/organization/client.go
  internal/organization/organization.go
  internal/organization/service.go
  internal/organization/service_test.go
  internal/organization/test_helpers.go
  internal/organization/web.go
  internal/organization/web_test.go
  internal/orgcreator/client.go
  internal/orgcreator/orgcreator.go
  internal/orgcreator/service.go
  internal/orgcreator/test_helpers.go
  internal/orgcreator/web.go
  internal/orgcreator/web_test.go
  internal/vcsprovider/service.go
Due: make-vet, make-fmt, make-lint

wip
  internal/auth/service.go
  internal/auth/team_service.go
  internal/daemon/daemon.go
Due: make-vet, make-fmt, make-lint

wip
  internal/http/html/static/templates/content/organization_new.tmpl
  internal/http/html/static/templates/content/token_new.tmpl
  internal/integration/user_token_ui_test.go
Due: make-vet, make-fmt, make-lint

refactor: remove orgcreator pkg (#526)
  internal/api/api.go
  internal/api/organization.go
  internal/auth/service.go
  internal/auth/team_service.go
  internal/authenticator/authenticator.go
  internal/cli/organization.go
  internal/cli/test_helpers.go
  internal/client/client.go
  internal/daemon/daemon.go
  internal/hooks/hooks.go
  internal/http/html/static/templates/content/organization_new.tmpl
  internal/http/html/static/templates/content/token_new.tmpl
  internal/integration/daemon_helpers_test.go
  internal/integration/db_test.go
  internal/integration/organization_test.go
  internal/integration/user_token_ui_test.go
  internal/organization/client.go
  internal/organization/organization.go
  internal/organization/service.go
  internal/organization/service_test.go
  internal/organization/test_helpers.go
  internal/organization/web.go
  internal/organization/web_test.go
  internal/orgcreator/client.go
  internal/orgcreator/orgcreator.go
  internal/orgcreator/service.go
  internal/orgcreator/test_helpers.go
  internal/orgcreator/web.go
  internal/orgcreator/web_test.go
  internal/vcsprovider/service.go
Due: make-vet, make-fmt, make-lint

wip
  .pre-commit-config.yaml
  internal/rbac/action.go
  internal/rbac/action_string.go
  internal/sql/migrations/20230723164327_add_organization_token.sql
  internal/sql/pggen/agent_token.sql.go
  internal/sql/pggen/organization_token.sql.go
  internal/sql/queries/organization_token.sql
  internal/tokens/db.go
  internal/tokens/organization_token.go
  internal/tokens/service.go
  internal/tokens/tokens.go
Due: make-vet, make-fmt, make-lint

wip
  internal/http/html/paths/funcmap.go
  internal/http/html/paths/gen.go
  internal/http/html/paths/organization_token_paths.go
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/organization_edit.tmpl
  internal/http/html/static/templates/content/organization_get.tmpl
  internal/http/html/static/templates/content/organization_token.tmpl
  internal/http/html/static/templates/content/user_token_list.tmpl
  internal/tokens/organization_token.go
  internal/tokens/web.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  hack/go-tfe-tests-upstream.bash
  internal/api/tokens.go
  internal/api/types/organization_token.go
  internal/auth/team_service.go
  internal/http/html/static/css/output.css
  internal/sql/migrations/20230723164327_add_organization_token.sql
  internal/sql/pggen/organization_token.sql.go
  internal/sql/queries/organization_token.sql
  internal/sql/sql.go
  internal/tokens/db.go
  internal/tokens/organization_token.go
Due: make-vet, make-fmt, make-lint, make-tailwind

wip
  internal/integration/user_token_ui_test.go
  internal/tokens/organization_token.go
Due: make-vet, make-fmt, make-lint

wip
  internal/integration/organization_token_ui_test.go
  internal/integration/user_token_ui_test.go
  internal/sql/pggen/agent_token.sql.go
  internal/sql/pggen/organization_token.sql.go
  internal/sql/queries/organization_token.sql
  internal/tokens/db.go
  internal/tokens/middleware.go
  internal/tokens/middleware_test.go
  internal/tokens/middleware_test_helpers.go
  internal/tokens/organization_token.go
  internal/tokens/service.go
Due: make-vet, make-fmt, make-lint

wip
  docs/auth/org_token.md
  docs/images/connected_workspace_main_page.png
  docs/images/github_login_button.png
  docs/images/modules_confirm.png
  docs/images/modules_list.png
  docs/images/modules_select_provider.png
  docs/images/modules_select_repo.png
  docs/images/new_github_vcs_provider_form.png
  docs/images/new_org_created.png
  docs/images/new_org_enter_name.png
  docs/images/newly_created_module_page.png
  docs/images/no_authenticators_site_admin_login.png
  docs/images/oidc_login_button.png
  docs/images/org_token_created.png
  docs/images/org_token_new.png
  docs/images/organization_main_menu.png
  docs/images/owners_team_page.png
  docs/images/run_page_planned_and_finished_state.png
  docs/images/run_page_planned_state.png
  docs/images/run_page_started.png
  docs/images/site_admin_login_enter_token.png
  docs/images/site_admin_profile.png
  docs/images/team_permissions_added_workspace_manager.png
  docs/images/terraform_login_consent.png
  docs/images/user_token_created.png
  docs/images/user_token_enter_description.png
  docs/images/user_tokens.png
  docs/images/variables_entering_top_secret.png
  docs/images/vcs_providers_list.png
  docs/images/workspace_main_page.png
  docs/images/workspace_page.png
  docs/images/workspace_permissions.png
  docs/images/workspace_settings.png
  docs/images/workspace_vcs_providers_list.png
  docs/images/workspace_vcs_repo_list.png
  internal/integration/organization_token_ui_test.go
  mkdocs.yml
Due: make-vet, make-fmt, make-lint

wip
  docs/auth/org_token.md
Due: none

fix(ui): improve dropdown box UX
  internal/auth/user.go
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/partials/search_dropdown.tmpl
  internal/integration/team_ui_test.go
Due: make-vet, make-fmt, make-lint, make-tailwind

fix(ui): new team form missing borders
  internal/http/html/static/css/output.css
  internal/http/html/static/templates/content/team_new.tmpl
Due: make-tailwind

chore: removed unused config file
  .readthedocs.yaml
Due: none

check tf version
  .github/workflows/build.yml
Due: none

wip
  go.mod
  go.sum
  internal/agent/agent.go
  internal/agent/environment.go
  internal/agent/executor.go
  internal/agent/steps.go
  internal/agent/terraform_download.go
  internal/agent/terraform_downloader.go
  internal/agent/terraform_downloader_test.go
  internal/agent/terraform_path_finder.go
  internal/integration/daemon_helpers_test.go
  internal/integration/helpers_test.go
  internal/integration/main_test.go
  internal/integration/tag_e2e_test.go
  internal/integration/terraform_cli_cancel_test.go
  internal/integration/terraform_cli_discard_test.go
  internal/integration/terraform_login_test.go
Due: make-vet, make-fmt, make-lint

wip
  internal/api/api.go
  internal/api/configuration_version.go
  internal/api/configuration_version_marshaler.go
  internal/api/marshaler.go
Due: make-vet, make-fmt, make-lint
